In [1]:
import pandas as pd

In [6]:
restaurant_df=pd.read_csv("../yelp_atl_restaurants_csv.csv").drop(['Unnamed: 0'], axis=1).drop(['Unnamed: 0.1'], axis=1)
restaurant_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,z8-_6l5EhX5NuPfWzJYQMA,Great Wraps,3393 Peachtree Rd NE,Atlanta,GA,30326,33.846335,-84.363578,3.0,11,1,"{'RestaurantsGoodForGroups': 'False', 'GoodFor...","Food, Restaurants, Cheesesteaks, Sandwiches, J...","{'Monday': '7:0-21:0', 'Tuesday': '7:0-21:0', ..."
1,Q2vefh0tGhtCGQDK1FI7cw,Piece of Cake,3215 Roswell Rd NE,Atlanta,GA,30305,33.842875,-84.378539,4.0,231,1,"{'BikeParking': 'True', 'BusinessParking': ""{'...","Restaurants, Patisserie/Cake Shop, Desserts, F...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-17:0', ..."
2,TbZDLpBOl-EbO2LfMySrEg,First China Restaurant,5295 Buford Hwy NE,Atlanta,GA,30340,33.896641,-84.280918,3.0,11,0,"{'RestaurantsGoodForGroups': 'True', 'Business...","Restaurants, Chinese",NaN
3,bP6goJODwRnM3AVy45Kn9w,Papi's Cuban & Caribbean Grill,216 Ponce De Leon Ave NE,Atlanta,GA,30308,33.772758,-84.380375,4.0,1001,1,"{'RestaurantsPriceRange2': '2', 'BusinessParki...","Caribbean, Cuban, Restaurants","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."
4,xSLdQjPgMhBrNIEtUgdWUA,Colossus Pizza,4369 Hugh Howell Rd,Tucker,GA,30084,33.850775,-84.209299,4.0,58,1,"{'RestaurantsGoodForGroups': 'True', 'Restaura...","Nightlife, Pizza, Sandwiches, Mediterranean, G...","{'Tuesday': '11:30-21:0', 'Wednesday': '11:30-..."

In [7]:
import sqlite3
conn = sqlite3.connect('db.sqlite')

In [8]:
restaurant_df.to_sql('restaurant_db', conn, if_exists='replace', index=False)

In [11]:
pd.read_sql('select * from restaurant_db', conn)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,z8-_6l5EhX5NuPfWzJYQMA,Great Wraps,3393 Peachtree Rd NE,Atlanta,GA,30326,33.846335,-84.363578,3.0,11,1,"{'RestaurantsGoodForGroups': 'False', 'GoodFor...","Food, Restaurants, Cheesesteaks, Sandwiches, J...","{'Monday': '7:0-21:0', 'Tuesday': '7:0-21:0', ..."
1,Q2vefh0tGhtCGQDK1FI7cw,Piece of Cake,3215 Roswell Rd NE,Atlanta,GA,30305,33.842875,-84.378539,4.0,231,1,"{'BikeParking': 'True', 'BusinessParking': ""{'...","Restaurants, Patisserie/Cake Shop, Desserts, F...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-17:0', ..."
2,TbZDLpBOl-EbO2LfMySrEg,First China Restaurant,5295 Buford Hwy NE,Atlanta,GA,30340,33.896641,-84.280918,3.0,11,0,"{'RestaurantsGoodForGroups': 'True', 'Business...","Restaurants, Chinese",None
3,bP6goJODwRnM3AVy45Kn9w,Papi's Cuban & Caribbean Grill,216 Ponce De Leon Ave NE,Atlanta,GA,30308,33.772758,-84.380375,4.0,1001,1,"{'RestaurantsPriceRange2': '2', 'BusinessParki...","Caribbean, Cuban, Restaurants","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."
4,xSLdQjPgMhBrNIEtUgdWUA,Colossus Pizza,4369 Hugh Howell Rd,Tucker,GA,30084,33.850775,-84.209299,4.0,58,1,"{'RestaurantsGoodForGroups': 'True', 'Restaura...","Nightlife, Pizza, Sandwiches, Mediterranean, G...","{'Tuesday': '11:30-21:0', 'Wednesday': '11:30-..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4888,fyBLsgCl04kzDyDvvntsig,Marco's Pita,752 Ponce De Leon Ave NE,Atlanta,GA,30306,33.774230,-84.362535,3.5,46,0,"{'RestaurantsPriceRange2': '1', 'RestaurantsRe...","Restaurants, Greek","{'Monday': '12:0-20:0', 'Tuesday': '12:0-20:0'..."
4889,N7luSQX9HJIYJzIdqzIEng,Vickery's Bar & Grill,1106 Crescent Ave NE,Atlanta,GA,30309,33.785008,-84.384517,3.5,47,0,"{'OutdoorSeating': 'True', 'RestaurantsReserva...","American (New), Southern, Restaurants","{'Monday': '11:30-2:0', 'Tuesday': '11:30-2:0'..."
4890,P6VbBg5uNhAaANcpwm2cVQ,Moe's Southwest Grill,863 Ponce De Leon Ave,Atlanta,GA,30306,33.773536,-84.359011,2.5,53,1,"{'RestaurantsGoodForGroups': 'True', 'Alcohol'...","Restaurants, Mexican, Tex-Mex","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."
4891,OF1RGkYOeT2xxoi_Xnec7w,Emeril's Atlanta,"3500 Lenox Rd NE, Ste 100",Atlanta,GA,30326,33.852144,-84.365957,3.0,9,0,"{'RestaurantsAttire': ""'dressy'"", 'GoodForKids...","American (New), Restaurants, Cajun/Creole","{'Monday': '18:0-22:0', 'Tuesday': '18:0-22:0'..."
4892,uXdQkuEtvLAzfc3MsO-sTQ,Mama's Cocina Latina,1958 Piedmont Rd NE,Atlanta,GA,30324,33.810996,-84.367084,3.0,185,1,"{'WiFi': ""u'no'"", 'BusinessAcceptsCreditCards'...","Restaurants, Mexican, Latin American","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."

In [15]:
category_df=pd.read_csv("../categories.csv").drop(['Unnamed: 0'], axis=1)
category_df

                  Category
0               Sandwiches
1                 Bakeries
2                  Chinese
3                Caribbean
4                    Pizza
5            Mediterranean
6                    Greek
7                  Italian
8                 Southern
9                  Mexican
10                 Tex-Mex
11               Fast Food
12          Latin American
13              Tapas Bars
14          American (New)
15                Barbeque
16                 Burgers
17              Vietnamese
18             Steakhouses
19                    Pubs
20  American (Traditional)
21                Japanese
22          Specialty Food
23                    Thai
24              Sushi Bars
25          Middle Eastern
26                  Korean
27               Soul Food
28                   Delis
29           Chicken Wings
30                   Tacos
31                  Indian
32              Vegetarian
33                 Seafood
34                Hot Dogs
35                   Cafes
36            Asian Fusion
37            Comfort Food
38                   Vegan
39      Breakfast & Brunch
40             Food Trucks
41            Cajun/Creole
42                   Salad
43                  Diners
44                  French
45                    Soup
46      Tapas/Small Plates
47              Gastropubs
48            Chicken Shop

In [16]:
category_df.to_sql('category_db', conn, if_exists='replace', index=False)

In [17]:
pd.read_sql('select * from category_db', conn)

                  Category
0               Sandwiches
1                 Bakeries
2                  Chinese
3                Caribbean
4                    Pizza
5            Mediterranean
6                    Greek
7                  Italian
8                 Southern
9                  Mexican
10                 Tex-Mex
11               Fast Food
12          Latin American
13              Tapas Bars
14          American (New)
15                Barbeque
16                 Burgers
17              Vietnamese
18             Steakhouses
19                    Pubs
20  American (Traditional)
21                Japanese
22          Specialty Food
23                    Thai
24              Sushi Bars
25          Middle Eastern
26                  Korean
27               Soul Food
28                   Delis
29           Chicken Wings
30                   Tacos
31                  Indian
32              Vegetarian
33                 Seafood
34                Hot Dogs
35                   Cafes
36            Asian Fusion
37            Comfort Food
38                   Vegan
39      Breakfast & Brunch
40             Food Trucks
41            Cajun/Creole
42                   Salad
43                  Diners
44                  French
45                    Soup
46      Tapas/Small Plates
47              Gastropubs
48            Chicken Shop