In [4]:
import json
import pandas as pd

In [5]:
data_file = open("yelp_academic_dataset_review.json", encoding='utf8')
data = []
for line in data_file:
    data.append(json.loads(line))
df = pd.DataFrame(data)
data_file.close()

FileNotFoundError: [Errno 2] No such file or directory: 'yelp_academic_dataset_review.json'

In [ ]:
df

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,lWC-xP3rd6obsecCYsGZRg,ak0TdVmGKo4pwqdJSTLwWw,buF9druCkbuXLX526sGELQ,4.0,3,1,1,Apparently Prides Osteria had a rough summer a...,2014-10-11 03:34:02
1,8bFej1QE5LXp4O05qjGqXA,YoVfDbnISlW0f7abNQACIg,RA4V8pr014UyUbDvI-LW2A,4.0,1,0,0,This store is pretty good. Not as great as Wal...,2015-07-03 20:38:25
2,NDhkzczKjLshODbqDoNLSg,eC5evKn1TWDyHCyQAwguUw,_sS2LBIGNT5NQb6PD1Vtjw,5.0,0,0,0,I called WVM on the recommendation of a couple...,2013-05-28 20:38:06
3,T5fAqjjFooT4V0OeZyuk1w,SFQ1jcnGguO0LYWnbbftAA,0AzLzHfOJgL7ROwhdww2ew,2.0,1,1,1,I've stayed at many Marriott and Renaissance M...,2010-01-08 02:29:15
4,sjm_uUcQVxab_EeLCqsYLg,0kA0PAJ8QFMeveQWHFqz2A,8zehGz9jnxPqXtOc7KaJxA,4.0,0,0,0,The food is always great here. The service fro...,2011-07-28 18:05:01
...,...,...,...,...,...,...,...,...,...
8635398,PHnqMOU1pzHbnUMk3Cg2zA,6olZ0y9oW9azON61AhwxYg,yyTtwwQ4JnQMJ2rn3W0S0g,1.0,0,0,0,"In December, I called in (as a returning custo...",2021-01-26 04:07:14
8635399,dViF8gg9745CszpekNvp2g,EPYNZQFuSKqLi-on3U9dFg,RDgwjgbu5xziFIAaNn3WCQ,1.0,13,1,0,This guy is a moron that will stalk and harass...,2019-05-01 21:21:43
8635400,7vNXRIClt-9rFzMXlrtMXA,tr13Jb83h2itjyXVwaO5eA,rbuj2X4SXIc3MDul4dcxIA,5.0,39,13,34,"Yummy, great chew on the bagel\nFriendly staff...",2020-06-13 02:39:26
8635401,Ho57jz6U-JjrGHpGWIGLNg,HqdmRMpNvScFxjGAB40vgQ,IRzjEZ2pX4iOpnBG7oZJ7g,2.0,2,0,0,This used to be my car wash of choice. They di...,2020-06-22 21:54:10
8635402,YNyurWy1ZIYEy1vXI7azOg,HsT8bz3-SKMk7YidwLLM6Q,pxwYIa1jZzHJ4R0Sp1cHFw,5.0,11,4,5,This is so highly rated for a reason. If you'r...,2019-04-17 04:27:39

In [ ]:
df.isnull().sum()

review_id      0
user_id        0
business_id    0
stars          0
useful         0
funny          0
cool           0
text           0
date           0
dtype: int64

In [ ]:
atl_restaurant_df=pd.read_csv("yelp_atl_restaurants_csv.csv")
atl_restaurant_df.head()

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,62,z8-_6l5EhX5NuPfWzJYQMA,Great Wraps,3393 Peachtree Rd NE,Atlanta,GA,30326,33.846335,-84.363578,3.0,11,1,"{'RestaurantsGoodForGroups': 'False', 'GoodFor...","Food, Restaurants, Cheesesteaks, Sandwiches, J...","{'Monday': '7:0-21:0', 'Tuesday': '7:0-21:0', ..."
1,86,Q2vefh0tGhtCGQDK1FI7cw,Piece of Cake,3215 Roswell Rd NE,Atlanta,GA,30305,33.842875,-84.378539,4.0,231,1,"{'BikeParking': 'True', 'BusinessParking': ""{'...","Restaurants, Patisserie/Cake Shop, Desserts, F...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-17:0', ..."
2,105,TbZDLpBOl-EbO2LfMySrEg,First China Restaurant,5295 Buford Hwy NE,Atlanta,GA,30340,33.896641,-84.280918,3.0,11,0,"{'RestaurantsGoodForGroups': 'True', 'Business...","Restaurants, Chinese",NaN
3,147,bP6goJODwRnM3AVy45Kn9w,Papi's Cuban & Caribbean Grill,216 Ponce De Leon Ave NE,Atlanta,GA,30308,33.772758,-84.380375,4.0,1001,1,"{'RestaurantsPriceRange2': '2', 'BusinessParki...","Caribbean, Cuban, Restaurants","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."
4,165,xSLdQjPgMhBrNIEtUgdWUA,Colossus Pizza,4369 Hugh Howell Rd,Tucker,GA,30084,33.850775,-84.209299,4.0,58,1,"{'RestaurantsGoodForGroups': 'True', 'Restaura...","Nightlife, Pizza, Sandwiches, Mediterranean, G...","{'Tuesday': '11:30-21:0', 'Wednesday': '11:30-..."

In [ ]:
atl_restaurant_review_df=pd.merge(atl_restaurant_df,df, on="business_id", how ="left")
atl_restaurant_review_df

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,...,categories,hours,review_id,user_id,stars_y,useful,funny,cool,text,date
0,62,z8-_6l5EhX5NuPfWzJYQMA,Great Wraps,3393 Peachtree Rd NE,Atlanta,GA,30326,33.846335,-84.363578,3.0,...,"Food, Restaurants, Cheesesteaks, Sandwiches, J...","{'Monday': '7:0-21:0', 'Tuesday': '7:0-21:0', ...",KM7ZEiGlyX63IFpOIjqrSA,7PiRdxYF-Uvzn2fHqdtU1Q,5.0,0,0,0,Wow! After perusing the restaurants at the ma...,2018-01-13 22:16:22
1,62,z8-_6l5EhX5NuPfWzJYQMA,Great Wraps,3393 Peachtree Rd NE,Atlanta,GA,30326,33.846335,-84.363578,3.0,...,"Food, Restaurants, Cheesesteaks, Sandwiches, J...","{'Monday': '7:0-21:0', 'Tuesday': '7:0-21:0', ...",dKIxCfc59WdoBIIDOJ_yKg,oMCunvPAP2olnSMXCi5DWg,2.0,1,0,0,"Located in Lenox Square mall, I wasn't particu...",2015-02-21 08:27:33
2,62,z8-_6l5EhX5NuPfWzJYQMA,Great Wraps,3393 Peachtree Rd NE,Atlanta,GA,30326,33.846335,-84.363578,3.0,...,"Food, Restaurants, Cheesesteaks, Sandwiches, J...","{'Monday': '7:0-21:0', 'Tuesday': '7:0-21:0', ...",7Y7lieOUYLzuH92lLejhtw,HHWtSl2bZMCFuvf9S-TNdg,2.0,0,0,0,Nah dude \nCustomer service - nope \n\nSeems s...,2018-02-10 22:30:34
3,62,z8-_6l5EhX5NuPfWzJYQMA,Great Wraps,3393 Peachtree Rd NE,Atlanta,GA,30326,33.846335,-84.363578,3.0,...,"Food, Restaurants, Cheesesteaks, Sandwiches, J...","{'Monday': '7:0-21:0', 'Tuesday': '7:0-21:0', ...",0xcD-hAa2VzjVxj8y-uirg,N14D0hXbrQBiaaXX6NPqCw,2.0,0,0,0,I've always liked the classic gyro combo at gr...,2017-12-01 16:48:20
4,62,z8-_6l5EhX5NuPfWzJYQMA,Great Wraps,3393 Peachtree Rd NE,Atlanta,GA,30326,33.846335,-84.363578,3.0,...,"Food, Restaurants, Cheesesteaks, Sandwiches, J...","{'Monday': '7:0-21:0', 'Tuesday': '7:0-21:0', ...",19cgAjk4S0oNIPOHnLbG9Q,CqcyxQOuA5u8DDZgH4loHg,5.0,0,0,0,The food is amazing they have one of the best ...,2016-10-13 18:23:45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477664,160575,uXdQkuEtvLAzfc3MsO-sTQ,Mama's Cocina Latina,1958 Piedmont Rd NE,Atlanta,GA,30324,33.810996,-84.367084,3.0,...,"Restaurants, Mexican, Latin American","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",xFc-MyNqtINzBhJebZwpHw,NJORUxvEopLz8eOL2SiZAA,5.0,0,0,0,Forget what literally anyone on here is crying...,2020-12-08 05:56:49
477665,160575,uXdQkuEtvLAzfc3MsO-sTQ,Mama's Cocina Latina,1958 Piedmont Rd NE,Atlanta,GA,30324,33.810996,-84.367084,3.0,...,"Restaurants, Mexican, Latin American","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",yo3HeA3H1OKRLFIO9Cqhew,ctHUzB-gY1oL8Q-WC6ZAuA,3.0,0,0,1,I really do appreciate the fact that this rest...,2020-07-08 08:54:44
477666,160575,uXdQkuEtvLAzfc3MsO-sTQ,Mama's Cocina Latina,1958 Piedmont Rd NE,Atlanta,GA,30324,33.810996,-84.367084,3.0,...,"Restaurants, Mexican, Latin American","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",Dl00DX41j-qkkLWgxbKmDg,0WoagQUCpDFgtZfOjy-lpw,5.0,1,0,0,This is a 24hr MEXICAN SPOT. Open for Drive-th...,2020-09-22 17:10:21
477667,160575,uXdQkuEtvLAzfc3MsO-sTQ,Mama's Cocina Latina,1958 Piedmont Rd NE,Atlanta,GA,30324,33.810996,-84.367084,3.0,...,"Restaurants, Mexican, Latin American","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",CgrQGK5xlhjwclppfFbNIQ,xl5idW5JOPBHeys2KLGSKA,5.0,0,0,0,They always have a line but it moves very quic...,2020-12-30 19:44:35
477668,160575,uXdQkuEtvLAzfc3MsO-sTQ,Mama's Cocina Latina,1958 Piedmont Rd NE,Atlanta,GA,30324,33.810996,-84.367084,3.0,...,"Restaurants, Mexican, Latin American","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",I0pX4rYvtq4WCGVigfhqmQ,5Zc8u7XDZGz1UaCc_kZfcA,3.0,0,1,1,When you come here your coming for one thing!!...,2020-05-21 14:24:34

In [ ]:
atl_restaurant_review_df.head(2)

NameError: name 'atl_restaurant_review_df' is not defined

In [ ]:
atl_restaurant_review_df.isnull().sum()

Unnamed: 0          0
business_id         0
name                0
address           384
city                0
state               0
postal_code         0
latitude            0
longitude           0
stars_x             0
review_count        0
is_open             0
attributes        223
categories          0
hours           12296
review_id           0
user_id             0
stars_y             0
useful              0
funny               0
cool                0
text                0
date                0
dtype: int64

In [ ]:
atl_restaurant_review_df.describe()

,Unnamed: 0,postal_code,latitude,longitude,stars_x,review_count,is_open,stars_y,useful,funny,cool
count,477669.000000,477669.000000,477669.000000,477669.000000,477669.000000,477669.000000,477669.000000,477669.000000,477669.000000,477669.000000,477669.000000
mean,80452.230949,30293.197758,33.810844,-84.348139,3.747752,551.748449,0.781074,3.744888,0.963106,0.357561,0.470081
std,45285.219516,80.658078,0.051241,0.039109,0.541582,674.407010,0.413519,1.341652,2.796799,1.807935,2.195519
min,62.000000,30002.000000,33.639048,-84.457466,1.000000,5.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,44673.000000,30307.000000,33.772263,-84.379998,3.500000,165.000000,1.000000,3.000000,0.000000,0.000000,0.000000
50%,79200.000000,30309.000000,33.788608,-84.362511,4.000000,343.000000,1.000000,4.000000,0.000000,0.000000,0.000000
75%,119517.000000,30326.000000,33.846838,-84.326684,4.000000,648.000000,1.000000,5.000000,1.000000,0.000000,0.000000
max,160575.000000,30360.000000,33.949866,-84.200206,5.000000,3861.000000,1.000000,5.000000,411.000000,259.000000,371.000000

In [ ]:
atl_restaurant_review_df.to_json("yelp_atl_restaurant_reviews_json.json")

In [ ]:
atl_restaurant_review_df.to_csv("yelp_atl_restaurant_reviews_csv.csv")