In [1]:
import json
import pandas as pd

In [2]:
data_file = open("yelp_academic_dataset_checkin.json", encoding='utf8')
data = []
for line in data_file:
    data.append(json.loads(line))
df = pd.DataFrame(data)
data_file.close()

In [3]:
df

,business_id,date
0,--0r8K_AQ4FZfLsX3ZYRDA,2017-09-03 17:13:59
1,--0zrn43LEaB4jUWTQH_Bg,"2010-10-08 22:21:20, 2010-11-01 21:29:14, 2010..."
2,--164t1nclzzmca7eDiJMw,"2010-02-26 02:06:53, 2010-02-27 08:00:09, 2010..."
3,--2aF9NhXnNVpDV0KS3xBQ,"2014-11-03 16:35:35, 2015-01-30 18:16:03, 2015..."
4,--2mEJ63SC_8_08_jGgVIg,"2010-12-15 17:10:46, 2013-12-28 00:27:54, 2015..."
...,...,...
138871,zzoUa7lyeM-qKPKFYSrAhg,"2012-10-12 17:11:06, 2012-10-22 23:38:12, 2012..."
138872,zzpmoTVq4yn86U7ArHyFBQ,"2020-07-18 18:33:18, 2020-07-18 20:13:49, 2020..."
138873,zzqq8J7Pibxod1YcknlkWA,"2014-08-29 00:00:54, 2014-10-23 19:00:58, 2017..."
138874,zzwK-TJsCJX5wZrdtKemPg,"2010-08-29 17:39:58, 2010-10-25 22:58:03, 2011..."
138875,zzzKmD9Mj6WtJwJUhA_1dg,"2010-12-25 22:17:04, 2011-05-14 03:25:18"

In [4]:
df.isnull().sum()

business_id    0
date           0
dtype: int64

In [10]:
atl_restaurant_df=pd.read_csv("yelp_atl_restaurants_csv.csv")
atl_restaurant_df.head()

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,62,z8-_6l5EhX5NuPfWzJYQMA,Great Wraps,3393 Peachtree Rd NE,Atlanta,GA,30326,33.846335,-84.363578,3.0,11,1,"{'RestaurantsGoodForGroups': 'False', 'GoodFor...","Food, Restaurants, Cheesesteaks, Sandwiches, J...","{'Monday': '7:0-21:0', 'Tuesday': '7:0-21:0', ..."
1,86,Q2vefh0tGhtCGQDK1FI7cw,Piece of Cake,3215 Roswell Rd NE,Atlanta,GA,30305,33.842875,-84.378539,4.0,231,1,"{'BikeParking': 'True', 'BusinessParking': ""{'...","Restaurants, Patisserie/Cake Shop, Desserts, F...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-17:0', ..."
2,105,TbZDLpBOl-EbO2LfMySrEg,First China Restaurant,5295 Buford Hwy NE,Atlanta,GA,30340,33.896641,-84.280918,3.0,11,0,"{'RestaurantsGoodForGroups': 'True', 'Business...","Restaurants, Chinese",NaN
3,147,bP6goJODwRnM3AVy45Kn9w,Papi's Cuban & Caribbean Grill,216 Ponce De Leon Ave NE,Atlanta,GA,30308,33.772758,-84.380375,4.0,1001,1,"{'RestaurantsPriceRange2': '2', 'BusinessParki...","Caribbean, Cuban, Restaurants","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."
4,165,xSLdQjPgMhBrNIEtUgdWUA,Colossus Pizza,4369 Hugh Howell Rd,Tucker,GA,30084,33.850775,-84.209299,4.0,58,1,"{'RestaurantsGoodForGroups': 'True', 'Restaura...","Nightlife, Pizza, Sandwiches, Mediterranean, G...","{'Tuesday': '11:30-21:0', 'Wednesday': '11:30-..."

In [6]:
atl_restaurant_checkin_df=pd.merge(atl_restaurant_df,df, on="business_id", how ="left")
atl_restaurant_checkin_df

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,date
0,62,z8-_6l5EhX5NuPfWzJYQMA,Great Wraps,3393 Peachtree Rd NE,Atlanta,GA,30326,33.846335,-84.363578,3.0,11,1,"{'RestaurantsGoodForGroups': 'False', 'GoodFor...","Food, Restaurants, Cheesesteaks, Sandwiches, J...","{'Monday': '7:0-21:0', 'Tuesday': '7:0-21:0', ...","2015-02-13 19:00:53, 2015-07-26 17:37:16, 2016..."
1,86,Q2vefh0tGhtCGQDK1FI7cw,Piece of Cake,3215 Roswell Rd NE,Atlanta,GA,30305,33.842875,-84.378539,4.0,231,1,"{'BikeParking': 'True', 'BusinessParking': ""{'...","Restaurants, Patisserie/Cake Shop, Desserts, F...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-17:0', ...","2010-02-28 15:59:04, 2010-03-03 08:26:24, 2010..."
2,105,TbZDLpBOl-EbO2LfMySrEg,First China Restaurant,5295 Buford Hwy NE,Atlanta,GA,30340,33.896641,-84.280918,3.0,11,0,"{'RestaurantsGoodForGroups': 'True', 'Business...","Restaurants, Chinese",NaN,"2011-02-16 17:41:42, 2011-06-08 16:55:23, 2012..."
3,147,bP6goJODwRnM3AVy45Kn9w,Papi's Cuban & Caribbean Grill,216 Ponce De Leon Ave NE,Atlanta,GA,30308,33.772758,-84.380375,4.0,1001,1,"{'RestaurantsPriceRange2': '2', 'BusinessParki...","Caribbean, Cuban, Restaurants","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...","2010-01-20 20:42:38, 2010-02-02 20:51:36, 2010..."
4,165,xSLdQjPgMhBrNIEtUgdWUA,Colossus Pizza,4369 Hugh Howell Rd,Tucker,GA,30084,33.850775,-84.209299,4.0,58,1,"{'RestaurantsGoodForGroups': 'True', 'Restaura...","Nightlife, Pizza, Sandwiches, Mediterranean, G...","{'Tuesday': '11:30-21:0', 'Wednesday': '11:30-...","2016-01-22 00:10:03, 2016-02-24 17:25:42, 2016..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3147,160375,fyBLsgCl04kzDyDvvntsig,Marco's Pita,752 Ponce De Leon Ave NE,Atlanta,GA,30306,33.774230,-84.362535,3.5,46,0,"{'RestaurantsPriceRange2': '1', 'RestaurantsRe...","Restaurants, Greek","{'Monday': '12:0-20:0', 'Tuesday': '12:0-20:0'...","2010-03-13 22:02:12, 2010-04-28 17:13:22, 2010..."
3148,160390,N7luSQX9HJIYJzIdqzIEng,Vickery's Bar & Grill,1106 Crescent Ave NE,Atlanta,GA,30309,33.785008,-84.384517,3.5,47,0,"{'OutdoorSeating': 'True', 'RestaurantsReserva...","American (New), Southern, Restaurants","{'Monday': '11:30-2:0', 'Tuesday': '11:30-2:0'...","2010-02-21 17:07:47, 2010-04-01 22:03:52, 2010..."
3149,160499,P6VbBg5uNhAaANcpwm2cVQ,Moe's Southwest Grill,863 Ponce De Leon Ave,Atlanta,GA,30306,33.773536,-84.359011,2.5,53,1,"{'RestaurantsGoodForGroups': 'True', 'Alcohol'...","Restaurants, Mexican, Tex-Mex","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...","2010-07-21 18:01:50, 2010-09-03 17:30:07, 2010..."
3150,160522,OF1RGkYOeT2xxoi_Xnec7w,Emeril's Atlanta,"3500 Lenox Rd NE, Ste 100",Atlanta,GA,30326,33.852144,-84.365957,3.0,9,0,"{'RestaurantsAttire': ""'dressy'"", 'GoodForKids...","American (New), Restaurants, Cajun/Creole","{'Monday': '18:0-22:0', 'Tuesday': '18:0-22:0'...",NaN
3151,160575,uXdQkuEtvLAzfc3MsO-sTQ,Mama's Cocina Latina,1958 Piedmont Rd NE,Atlanta,GA,30324,33.810996,-84.367084,3.0,185,1,"{'WiFi': ""u'no'"", 'BusinessAcceptsCreditCards'...","Restaurants, Mexican, Latin American","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...","2014-05-02 18:40:35, 2014-05-06 17:59:33, 2014..."

In [8]:
atl_restaurant_checkin_df.head(2)

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,date
0,62,z8-_6l5EhX5NuPfWzJYQMA,Great Wraps,3393 Peachtree Rd NE,Atlanta,GA,30326,33.846335,-84.363578,3.0,11,1,"{'RestaurantsGoodForGroups': 'False', 'GoodFor...","Food, Restaurants, Cheesesteaks, Sandwiches, J...","{'Monday': '7:0-21:0', 'Tuesday': '7:0-21:0', ...","2015-02-13 19:00:53, 2015-07-26 17:37:16, 2016..."
1,86,Q2vefh0tGhtCGQDK1FI7cw,Piece of Cake,3215 Roswell Rd NE,Atlanta,GA,30305,33.842875,-84.378539,4.0,231,1,"{'BikeParking': 'True', 'BusinessParking': ""{'...","Restaurants, Patisserie/Cake Shop, Desserts, F...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-17:0', ...","2010-02-28 15:59:04, 2010-03-03 08:26:24, 2010..."

In [12]:
atl_restaurant_checkin_df.to_json("yelp_atl_restaurant_checkins_json.json")

In [13]:
atl_restaurant_checkin_df.to_csv("yelp_atl_restaurant_checkins_csv.csv", index=False)